@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;} 
    
.tituloPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
    text-decoration: bold;
}

h1{
    font-size:60px;
    display: flex;
    justify-content: center;
    text-decoration: bold;
    padding: 15px;;
}
.subTitulo {
    padding-left: 30px;
    font-size: 18;
    margin: 10px:
}

.entrada {
    padding:10px;
    display: flex;
    justify-content: space-around;
}